body{
    background-color: lightgray;
}

.whole__container{
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 5;
}

.app_header{
    width: 100%;
    margin: auto;
    justify-content: center;
    color : darkgray;
}

.header_name{
    font-size : 56px;
    font-weight: lighter;
}

.div_for_text_list_holder{
    background-color: white;
    width: fit-content;
}

.text_holder{
    min-height : 40px;
    min-width  : 500px;
    background-color: white;
    border-color: darkgray;
    outline: none;
    border-width: 2px;
    border-left: none;
    border-top: none;
}

.list__holder{
    min-width: 500px;
    width: 500px;
    padding: 0;
}

ul{
    padding: 0;
    margin-top: 0;
    border-color: darkgray;
    outline: none;
}

ul ol{
    min-height: 30px;
    background-color: white;
    min-width: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    border-top: none;
    padding: 6px;
    color: darkgray;
    font-size: larger;
    padding-right: 0px;
    padding-left: 0px;
    outline: none;
    margin-left: -3px;
    border-right: none;
}

ol{
    text-align: start;
}

.checkbox_align{
    margin-right: 15px;
}

input:checked + p {
    text-decoration: line-through;
}

ul ol:hover {
    border-bottom: solid 5px lightgray;
}

.summary_holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 30px;
    margin-top: 20px;
}

Button{
    font-size: 16px;
    background-color: white;
    border:none;
    outline-color: lightgray;
    color:darkgrey;
}

#items_remaining{
    color: darkgray;
    font-weight: bolder;
}