body{
    background-color: lightgray;
}

.whole__container{
    display: flex;
    margin:auto;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 5;
}

.app_header{
    width: 100%;
    margin: auto;
    justify-content: center;
    color : darkgray;
}

.header_name{
    font-size : 56px;
    font-weight: lighter;
}

.div_for_text_list_holder{
    background-color: white;
    width: fit-content;
}

.text_holder{
    min-height : 60px;
    min-width  : 700px;
    background-color: white;
    border-color: darkgray;
    outline: none;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-right: none;
    font-style: italic;
    font-weight: lighter;
    font-size :28px;
    text-align: start;
}

.list__holder{
    min-width: 500px;
    width: 700px;
    padding: 0;
}

ul{
    padding: 0;
    margin-top: 0;
    border-color: darkgray;
    outline: none;
}

ul ol{
    min-height: 30px;
    background-color: white;
    min-width: 700px;
    border-width: 2px;
    border-style: solid;
    border-color: darkgray;
    border-top: none;
    padding: 6px;
    color: darkgray;
    font-size: larger;
    padding-right: 0px;
    padding-left: 0px;
    outline: none;
    margin-left: -3px;
    border-right: none;
    border-left:none;
    color: black;
}

ol{
    text-align: start;
    height: 38px;
    vertical-align: center;
}

.checkbox_align{
    margin-right: 30px;
    margin-left: 10px;
    width:30px;
    height:30px;
    background:white;
    border-radius:15px;
    border:2px solid #555;
    
}

ol >input:checked + p {
    text-decoration: line-through;
    color: lightgray;
}

ol > input:checked{
    background-color: black;
}

ul ol:hover {
    border-bottom: solid 5px lightgray;
}

.summary_holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 30px;
    margin-top: 20px;
}

Button{
    font-size: 16px;
    background-color: white;
    border:none;
    outline-color: lightgray;
    color:darkgrey;
}

#items_remaining{
    color: darkgray;
    font-weight: bolder;
}

.paper {
    background: #fff;
    box-shadow:
      0 1px 1px rgba(0,0,0,0.15),
      0 10px 0 -5px #eee,
      0 10px 1px -4px rgba(0,0,0,0.15),
      0 20px 0 -10px #eee,
      0 20px 1px -9px rgba(0,0,0,0.15);
}